<!-- Validation failure messages -->
<% if @treatment.errors.any? %>
  <% @treatment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Treatment</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_treatment" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @treatment.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for treatment_name -->
      <div class="form-group">
        <label for="treatment_name" class="control-label">
          Treatment name
        </label>

        <input type="text" id="treatment_name" name="treatment_name" placeholder="Treatment name" class="form-control" value="<%= @treatment.treatment_name %>">
      </div>

      <button class="btn btn-success">
        Create Treatment
      </button>
      or
      <a href="/treatments">Cancel</a>
    </form>
  </div>
</div>
