<!-- Validation failure messages -->
<% if @cancer.errors.any? %>
  <% @cancer.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Cancer</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_cancer" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cancer_name -->
      <div class="form-group">
        <label for="cancer_name" class="control-label">
          Cancer name
        </label>

        <input type="text" id="cancer_name" name="cancer_name" placeholder="Cancer name" class="form-control" value="<%= @cancer.cancer_name %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :created_at, @cancer.user_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Cancer
      </button>
      or
      <a href="/cancers">Cancel</a>
    </form>
  </div>
</div>
